<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Reservas casas de cumpleaños</h1>
        </header>
        <h2>Notificación de nueva reserva: </h2>
        <ul>
            <li><strong>Salon: </strong>{{salon}}</li>
            <li><strong>Fecha: </strong>{{fecha}}</li>
            <li><strong>Turno: </strong>{{turno}}</li>
            
        </ul>

        <footer>
            &copy; 2025 Reservas casa de cumpleaños
        </footer>

    </div>

</body>

</html>